* {
    margin:0;
    padding: 0;
}

/*Circle  constant style*/
.new-circle {
    position: absolute;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: new-circle 1s ease-in-out forwards;
}
    

/*Appear & Disapear Animation*/
@keyframes new-circle {
    0% { 
        opacity: 0;
    }
    25% {  
        opacity: .8;	
    }
    100% {
        opacity: 0;
    }
}